:root {
  --main-background-stripes: repeating-linear-gradient(
    135deg,
    #26282b 5px,
    #0f1923 5px,
    #0f1923 15px,
    #26282b 15px,
    #26282b 20px,
    #0f1923 20px,
    #0f1923 25px
  );
  --block-text-unselected: #a07956;
  --block-text-selected: #443b34;
  --block-background-unselected: transparent;
  --block-background-selected: #d4af37;
  --dashboard-dark: #111111;
  --dashboard-light: #3c3f44;

  --theme: #ff4655;
  --black: #0f1923;
  --white: #ece8e1;
}

.App-body {
  min-height: 100vh;
  width: auto;
  background-image: var(--main-background-stripes);
}

.App-search {
  height: calc(100vh - 150px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.App-search #prompt {
  font-size: 1rem;
  width: calc(100% - 50px);
  text-align: center;
}

.App-search #searchbar {
  width: calc(100% - 50px);
  max-width: 600px;
  margin: 25px 0;
  padding: 0 25px;
  height: 30px;
  outline: none;
  transform: scale(0.9);
  transition: 0.5s ease-in-out;
}
.App-search #searchbar:focus {
  transform: scale(1);
}
.App-search #btn {
  padding: 10px 25px;
  margin: 25px 0;
  cursor: pointer;
  background-color: var(--theme);
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  transform: scale(1.1);
}
.App-search #btn:active {
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  .App-search #title {
    font-size: 3rem;
    text-align: left;
    margin: 25px;
  }
}
@media screen and (min-width: 600px) {
  .App-search #title {
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    margin: 30px;
  }
}

.card {
  width: 300px;
  height: 500px;
  align-self: center;
  justify-self: center;
  background-color: var(--card-background);
  margin-top: 25px;
  overflow: hidden;
}

.card img {
  height: auto;
  width: 100%;
}

.card:hover .rating_buttons {
  transform: translateY(-150%);
  transition: 0.5s;
  opacity:1;
}

.card>p{
  position:relative;
  bottom:0;
  transform:translateY(-120%);
  color:white;
  text-align:center;
}
.rating_buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity:0;
}

.rating_buttons section {
  height: 30px;
  width: 50px;
  text-align: center;
  display: block;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.rating_buttons section:hover {
  cursor: pointer;
  font-size: 30px;
  color: var(--theme);
}

.App-movieContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.App-dashboard {
  position: fixed;
  right: 0;
  top: 0;
  width:100%;
  height:100%;
  transform:scale(0);
  opacity:0;
  transition: all 0.5s;
  overflow-y:scroll;
}

.App-dashboard .translucent-glass{
  position:absolute;
  top:0;left:0;
  height:calc(100% + 20px);
  width:calc(100% + 20px);
  background-image:url('../src/landing.PNG');
  background-size:cover;
  background-position:center;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  transform:translate(-20px, -20px);
}
.open{
  transform:scale(1);
  transition: all 0.5s;
  display:block;
  opacity:1;
}

.toggle {
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  color: white;
  display:block;
  opacity:1;
  z-index: 10;
}

.toggle:hover {
  cursor: pointer;
}

.App-dashboard .user-list{
  margin-top:25px;
  height:60px;
  background-color:var(--white);
  border-radius:10px;
}


.App-dashboard .user-list ul{
  white-space: nowrap;
  list-style: none;
  margin:0;
  padding:0;
  transition:all 1s ease-in-out;
  width:auto;
  height:100%;
  overflow-y:hidden;
  overflow-x:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App-dashboard .user-list ul::-webkit-scrollbar {
  display: none;
}

.App-dashboard .user-list>ul>li{
  height:100%;
  line-height:60px;
  display:inline-block;
  font-size:1.5rem;
  color:var(--black);
  margin-left:25px;
  text-align:center;
  transition:all 0.5s ease-in-out;
  position:relative;
  cursor:pointer;
}

.App-dashboard .user-list>ul>li:hover{
  font-weight:bold;
}

li.current{
  background-color:rgba(0,0,0,0.2);
  border-radius:10px;
}


.App-dashboard #recommendations{
  position:relative;
  color:white;
  min-height:60px;
}


.App-dashboard #chart{
  position:relative;
  background-color:var(--white);
  border-radius:10px;
  height:auto;
  border-radius:10px;
  max-height:100vh;
  margin-top:25px;
}

.App-dashboard #chart h2{
  position:absolute;
}

.App-dashboard #chart>canvas{
  position:relative;
  background-color:var(--white);
  height:50vh;
  min-height:450px;
}

.App-dashboard #chart::before {
  content: "Similarity Chart";
  height: 50px;
  display: block;
  position: absolute;
  top: -50px;
  font-size: 20px;
  color: white;
  left: 0;
}

.App-dashboard #top-friends{
  display:block;
  overflow:visible;
  background-color:var(--white);
  border-radius:10px;
  margin-top:25px;
}
.App-dashboard #top-friends ul{
  display:block;
  overflow:visible;
  list-style-type: none;
  padding:0;
  margin:0;
}

.App-dashboard #top-friends li{
  margin:10px;
  padding:0 15px;
  height:40px;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.App-dashboard #recommendations #posters{
  overflow-y:hidden;
  overflow-x:scroll;
  white-space: nowrap;
}

.App-dashboard #recommendations #posters>div{
  display:inline;
}

@media screen and (max-width:900px){
  .App-dashboard>div{
    min-width:300px;
    width:calc(100% - 50px);
    margin:25px;
  }
}

@media screen and (min-width:900px){
  .App-dashboard{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction:column;
  }
  .App-dashboard>div{
    width:850px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
